{% extends "base.html" %}

{% block content %}
    <div class="container mt-4 mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'parser:main' %}">Главная</a></li>
                {% if course.course_lists.first.category %}
                    <li class="breadcrumb-item">{{ course.course_lists.first.category.title }}</li>
                {% endif %}
                {% if course.course_lists.first %}
                    <li class="breadcrumb-item">{{ course.course_lists.first.title }}</li>
                {% endif %}
                <li class="breadcrumb-item active">{{ course.title|truncatewords:5 }}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-lg-8">
                {% include "includes/course_header.html" %}
                
                <div class="card-body">
                    {% include "includes/course_info.html" %}
                </div>

                {% include "includes/course_reviews.html" %}
            </div>

            <div class="col-lg-4">
                {% include "includes/course_sidebar.html" %}
            </div>
        </div>
    </div>
{% endblock content %}