{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        {% include "includes/stats_cards.html" %}
        {% include "includes/search_filters.html" %}

        <div class="row">
            {% for course in courses %}
                {% include "includes/course_card.html" %}
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-info text-center">
                        Курсы не найдены. Попробуйте изменить параметры поиска.
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include "includes/pagination.html" %}
    </div>
{% endblock content %}