{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="d-flex align-items-center mb-4">
            <i class="bi bi-bar-chart-fill fs-1 text-primary me-3"></i>
            <h1 class="mb-0">Статистика</h1>
        </div>

        {% include "includes/stats_summary.html" %}
        
        <div class="row">
            <div class="col-md-6 mb-4">
                {% include "includes/stats_languages.html" %}
            </div>
            <div class="col-md-6 mb-4">
                {% include "includes/stats_price.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                {% include "includes/stats_platforms.html" %}
            </div>
            <div class="col-md-6 mb-4">
                {% include "includes/stats_general.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                {% include "includes/stats_top_popular.html" %}
            </div>
            <div class="col-md-6 mb-4">
                {% include "includes/stats_top_rated.html" %}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                {% include "includes/stats_categories.html" %}
            </div>
        </div>
    </div>
{% endblock content %}